# Backend (Spring Boot / Java)
backend-springboot/target/
*.class
*.jar
*.log

# Python / ML
__pycache__/
*.pyc
.env
*.pkl

# React
frontend/node_modules/
frontend/build/

# OS
.DS_Store

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml


# H2 database files
*.mv.db
*.trace.db

# Environment / secrets
.env
application-prod.yml
