.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background: #67d0f3;
  color: white;
  padding: 20px 15px;
  z-index: 2000;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar-header button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  padding: 12px 0;
  cursor: pointer;
  font-weight: 500;
}

.admin-sidebar li:hover {
  background: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  transition: 0.2s;
}
