.header {
  background: #5ec8f2;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE (menu + logo + text) */
.header-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* HAMBURGER MENU */
.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu-icon span {
  width: 22px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

/* LOGO */
.logo-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: white;
  padding: 2px;
}

.logo-text {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

/* NAV LINKS */
.header a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* REGISTER BUTTON */
.btn-register {
  background: rgb(43, 41, 41);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

/* LOGOUT BUTTON */
.btn-logout {
  background: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* PROFILE ICON */

.profile-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  transform: scale(1.1);
}
