.header {
  background: #5ec8f2;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.header-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* NAV CONTAINER — THIS IS THE KEY FIX */
.header nav {
  display: flex;
  align-items: center;
  gap: 30px;          /* 👈 proper spacing */
}


/* REGISTER BUTTON */
.btn-register {
  background-color: #ffffff; /* white background */
  color: #000000;           /* black text */
  border: 2px solid #000000; /* optional: black border */
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #000000; /* optional hover effect */
  color: #ffffff;
}
.link-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size:14px;
  font-weight: bold;
  color: #f5f1f1;
  text-decoration: none;
}

.link-btn:hover {
  color: #f1f5f9;
  background: #000000b2;
  padding: 10px;
  border-radius: 20%;
}

/* LOGOUT BUTTON */



/* PROFILE ICON */
.profile-icon { display: inline-block; margin: 0 10px; font-size: 18px; } .clickable { cursor: pointer; } .clickable:hover { transform: scale(1.1); }
.logo-text { color: white; font-size: 18px; font-weight: 600; }
.logo-img {
  width: 42px;
  height: 42px;
  border-radius: 70%;
  object-fit: cover;
     /* ✅ removes white */
}
